* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #EEF2F5;
    color: #2E3A3F;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: auto;
}


.navbar {
    background: linear-gradient(90deg, #6A85C8, #4FB3BF);
    padding: 15px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo-text h2 {
    color: white;
}

.logo-text span {
    color: #F8FAFB;
    font-size: 14px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    border-bottom: 2px solid white;
}

.menu_btn {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
}

.page-banner {
    background: linear-gradient(90deg, #6A85C8, #4FB3BF);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.page-banner h1 {
    font-size: 40px;
}

.page-banner p {
    margin-top: 10px;
    color: #F8FAFB;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading h2 {
    color: #2E3A3F;
    margin-bottom: 10px;
}

.section-heading p {
    color: #6B7C85;
}

.about-section {
    padding: 60px 0;
    background: #F8FAFB;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.about-card {
    background: white;
    padding: 25px;
    border: radius 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.about-card:hover {
    transform: translateY(-5px);

}

.about-card h3 {
    color: #4FB3BF;
    margin-bottom: 10px;
}

.mental-health {
    padding: 60px 0;
}

.mental-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.mental-text {
    flex: 2;
}

.mental-text h2 {
    margin-bottom: 15px;
}

.mental-box {
    flex: 1;
    background: #7CC7C9;
    color: white;
    padding: 25px;
    border-radius: 12px;
}

.steps-section {
    background: #F8FAFB;
    padding: 60px 0;
}

.steps-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.step-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.step-card:hover {
    transform: translateY(-5px);
}

.step-number {
    background: #6A85C8;
    color: white;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.disclaimer-section {
    padding: 50px 0;
}

.disclaimer-box {
    background: #FFF3CD;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.cta-section {
    background: linear-gradient(90deg, #4FB3BF, #6A85C8);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.cta-section h2 {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: white;
    color: #4FB3BF;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btm:hover {
    background: #2E3A3F;
    color: white;
}

.footer {
    background: #2E3A3F;
    color: #F8FAFB;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer h4,
.footer h3 {
    margin-bottom: 10px;
}

.footer a {
    color: #8FAFD3;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #6B7C85;
    padding-top: 10px;
}

@media (max-width: 900px) {

    .about-grid,
    .steps-grid {
        grid-template-columns: 1fr;
    }

    .mental-content {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .menu_btn {
        display: block;
    }
}